@page
@using UserStoryManager.Models
@model UserStoryManager.Pages.UserStory.BacklogUserStoriesModel
@{
}
<div class="card">
    <div class="card-header">Backlog</div>
    <div class="card-body">
        @foreach (var us in Model.UserStories)
        {
            if (us.State == 0)
            {
                <div class="card mb-2" style="width: 100%;">
                <div class="card-header p-2">
                    <h5 class="card-title">(@us.Id) @us.Title</h5>
                </div>
                <div class="card-body">@us.Description</div>
                    <div class="card-footer">
                        <a class="btn" type="button" style="float: left" asp-page="DeleteUserStory" asp-route-id="@us.Id"><i class="fa fa-trash"></i></a>
                        <a class="btn" type="button" style="float: left" asp-page="UserStoryDetail" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></a>
                        <form method="post">
                            <button class="btn" type="submit" style="float: right" asp-route-id="@us.Id"><i class="fa fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>
