@page
@using UserStoryManager.Models
@model UserStoryManager.Pages.UserStory.UserStoriesModel
@{
}
<h1>User Stories</h1>

@*  0 = Stories
    1 =  To Do
    2 = In Progress
    3 = To Verify
    4 = Donedone*@


<div class="container container-fixer">
    <div class="row flex-row flex-sm-nowrap pt-3">
        <div class="col-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">To Do</h6>
                    <div class="items border border-light">
                        @foreach (var us in Model.StoryBoard.Cards)
                        {
                            if (us.State == 1)
                            {
                                <div class="card mb-2" style="width: 100%;">
                                    <div class="card-header p-2">
                                        <h5 class="card-title">(@us.Id) @us.Title</h5>
                                    </div>
                                    <div class="card-body">
                                        @us.Description
                                    </div>
                                <div class="card-footer">
                                    <form method="post" asp-page="UserStoriesModel">
                                        <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@us.Id"><i class="fa fa-trash"></i></a>
                                        <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></a>
                                        <button class="btn" type="submit" style="float: right" asp-route-id="@us.Id"><i class="fa fa-arrow-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Doing</h6>
                    <div class="items border border-light">
                        @foreach (var us in Model.StoryBoard.Cards)
                        {
                            if (us.State == 2)
                            {
                                <div class="card mb-2" style="width: 100%;">
                                    <div class="card-header p-2">
                                        <h5 class="card-title">(@us.Id) @us.Title</h5>
                                    </div>
                                    <div class="card-body">
                                        @us.Description
                                    </div>
                                <div class="card-footer">
                                    <form method="post" asp-page="UserStoriesModel">
                                        <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@us.Id"><i class="fa fa-trash"></i></a>
                                        <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></a>
                                        <button class="btn" type="submit" style="float: right" asp-route-id="@us.Id"><i class="fa fa-arrow-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Done</h6>
                    <div class="items border border-light">
                        @foreach (var us in Model.StoryBoard.Cards)
                        {
                            if (us.State == 3)
                            {
                                <div class="card mb-2" style="width: 100%;">
                                    <div class="card-header p-2">
                                        <h5 class="card-title">(@us.Id) @us.Title</h5>
                                    </div>
                                    <div class="card-body">
                                        @us.Description
                                    </div>
                                <div class="card-footer">
                                    <form method="post" asp-page="UserStoriesModel">
                                        <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@us.Id"><i class="fa fa-trash"></i></a>
                                        <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></a>
                                        <button class="btn" type="submit" style="float: right" asp-route-id="@us.Id"><i class="fa fa-arrow-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Done Done</h6>
                    <div class="items border border-light">
                        @foreach (var us in Model.StoryBoard.Cards)
                        {
                            if (us.State == 4)
                            {
                                <div class="card mb-2" style="width: 100%;">
                                    <div class="card-header p-2">
                                        <h5 class="card-title">(@us.Id) @us.Title</h5>
                                    </div>
                                    <div class="card-body">
                                        @us.Description
                                    </div>
                                <div class="card-footer">
                                    <form method="post">
                                        <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@us.Id"><i class="fa fa-trash"></i></a>
                                        <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></a>
                                        <button class="btn" type="submit" style="float:right" asp-page-handler="Reset" asp-route-id="@us.Id"><i class="fa-solid fa-backward-fast"></i></button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
