@page
@model UserStoryManager.Pages.UserStory.UserStoryDetailModel
@{
}
<h1>User Stories</h1>

@*  0 = Stories
    1 =  To Do
    2 = In Progress
    3 = To Verify
    4 = Donedone*@


<div class="container container-fixer">
    <div class="row flex-row flex-sm-nowrap pt-3">
        <div class="col-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">To Do</h6>
                    <div class="items border border-light">
                        @foreach (var us in Model.UserStories)
                        {
                            if (us.State == 1)
                            {
                                <div class="card mb-2" style="width: 100%;">
                                    <div class="card-header p-2">
                                        <h5 class="card-title">(@us.Id) @us.Title</h5>
                                    </div>
                                    <div class="card-body">
                                        @us.Description
                                    </div>
                                    <div class="card-footer">
                                        <form method="post" asp-page="UserStoriesModel">
                                            <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@us.Id"><i class="fa fa-trash"></i></a>
                                            <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></a>
                                            <button class="btn" type="submit" style="float: right" asp-route-id="@us.Id"><i class="fa fa-arrow-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Doing</h6>
                    <div class="items border border-light">
                        @foreach (var us in Model.UserStories)
                        {
                            if (us.State == 2)
                            {
                                <div class="card mb-2" style="width: 100%;">
                                    <div class="card-header p-2">
                                        <h5 class="card-title">(@us.Id) @us.Title</h5>
                                    </div>
                                    <div class="card-body">
                                        @us.Description
                                    </div>
                                    <div class="card-footer">
                                        <form method="post" asp-page="UserStoriesModel">
                                            <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@us.Id"><i class="fa fa-trash"></i></a>
                                            <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></a>
                                            <button class="btn" type="submit" style="float: right" asp-route-id="@us.Id"><i class="fa fa-arrow-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Done</h6>
                    <div class="items border border-light">
                        @foreach (var us in Model.UserStories)
                        {
                            if (us.State == 3)
                            {
                                <div class="card mb-2" style="width: 100%;">
                                    <div class="card-header p-2">
                                        <h5 class="card-title">(@us.Id) @us.Title</h5>
                                    </div>
                                    <div class="card-body">
                                        @us.Description
                                    </div>
                                    <div class="card-footer">
                                        <form method="post" asp-page="UserStoriesModel">
                                            <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@us.Id"><i class="fa fa-trash"></i></a>
                                            <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></a>
                                            <button class="btn" type="submit" style="float: right" asp-route-id="@us.Id"><i class="fa fa-arrow-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Done Done</h6>
                    <div class="items border border-light">
                        @foreach (var us in Model.UserStories)
                        {
                            if (us.State == 4)
                            {
                                <div class="card mb-2" style="width: 100%;">
                                    <div class="card-header p-2">
                                        <h5 class="card-title">(@us.Id) @us.Title</h5>
                                    </div>
                                    <div class="card-body">
                                        @us.Description
                                    </div>
                                    <div class="card-footer">
                                        <form method="post">
                                            <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@us.Id"><i class="fa fa-trash"></i></a>
                                            <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></a>
                                            <a class="btn" type="button" title="submit" asp-route-id="@us.Id"><i class="fa-solid fa-angles-left"></i></a>
                                            <button class="btn" type="submit" style="float:right" asp-page-handler="Reset" asp-route-id="@us.Id"><i class="fa fa-info-circle"></i></button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><small class="text-muted">(@Model.UserStory.Id)</small>@Model.UserStory.Title</h5>
                <a type="button" class="close" asp-page="UserStories">&times;</a>
            </div>
            <div class="modal-body">
                <p><b>Description</b>@Model.UserStory.Description</p>
                <p><b>Business Value</b>@Model.UserStory.BusinessValue</p>
                <p><b>Creation Date</b>@Model.UserStory.CreationDate</p>
                <p><b>Priority</b>@Model.UserStory.Priority</p>
                <p><b>Story Points</b>@Model.UserStory.StoryPoints</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger" asp-page="UserStories">Close</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#myModal").modal({ backdrop: "static" });
            $("#myModal").modal("show");
        });
    </script>
}
